header {
	color: blue;
}

div {
	background: white;
	height: 32%;
	width: 32%;
	border: 3px solid black;
	float: left;
}

div.container {
	background: white;
	height: 500px;
	width: 500px;
	border: 0px;
}